################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/server/venv
/WpfClient/obj
/WpfClient/bin
/WpfClient/.vs/WpfClient/v16
/server/.idea
